.Container {
  /* visibility: hidden;
  opacity: 0; */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: lightgray;
}

.Container.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.Grid-container {
  display: grid;
  grid-template-columns: 200px 600px 200px;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  width: 90%;
  height: 90%;
  background-color: white;
}

.Gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}